*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.slider{
    width: 60vw;
    /* background-color: aqua; */
    position: absolute;
    top: 50%;
    left: calc(50% - 7.5vw);
    transform: translate(-50%, -50% );

    display: flex;
}

.item {
    height: 60vh;
    background-color: gray;
    display: none;
}

.item.active{
    display: block;
}

.item  img{
    width: 60vw;
    height: 100%;
    object-fit: cover;
}

.up i, .down i{
    background-color: rgba(128, 128, 128, 0.9);
    padding: .5rem;
    border-radius: 50%;
}

.up, .down{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.up{
    top: 30px;
    
}

.down{
    bottom: 30px;
}

.hidden{
    display: none;
}

.mini-items-container{
    display: flex;
    flex-direction: column;
    height: 60vh;
}

.card{
    height: calc(60vh / 5);
    
}

.card img{
    width: 15vw;
    object-fit: cover;
    height: calc(60vh / 5);
    opacity: 0.5;
    border: 2px solid grey;
}

.active-border img{
    opacity: 1;
    border: 2px solid white;
}
